body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./food.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

#hd
{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
}

#day
{
    background-color: rgb(255, 255, 255, 0.8);
    height: 320px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    transition: 0.5s;
}

#day:hover
{
    
    box-shadow: 6px 6px 15px 10px rgb(116, 112, 112, 0.5);
}

#day i
{
    font-size: 40px;
    margin-top: 20px;
    color: rgb(59, 55, 55, 0.7);
}

#day h2
{
    font-size: 36px;
    margin-top: 20px;
    font-family: sans-serif;
    color: rgb(59, 55, 55, 0.7);
}

#day p
{
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(59, 55, 55, 0.9);
}



/*#skills
{
    background-color: rgba(226, 212, 212, 0.5);
    padding-bottom: 40px;
    padding-top: 20px;
}

#skill-cont
{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    text-align: center;
    justify-content: space-around;
}

#sk
{
    height: 5rem;
    width: 16rem;
    margin: 10px;
}

#total
{
    background-image: linear-gradient(rgb(224, 224, 224), rgb(255, 255, 255) 25%, rgb(224, 224, 224) 60%);
    margin: auto;
    height: 30px;
    width: 200px;
    box-shadow: 10px 10px 10px 4px rgba(131, 125, 125, 0.5);
    border-radius: 1rem 1rem 1rem 1rem;
}

#progress1
{
    background-image: linear-gradient(rgb(4, 4, 119), rgb(78, 78, 207) 25%, rgb(4, 4, 119) 60%);
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    width: 90%;
}

#progress2
{
    background-image: linear-gradient(rgb(255, 102, 0), rgb(255, 153, 0) 25%, rgb(255, 102, 0) 60%);
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    width: 80%;
}

#progress3
{
    background-image: linear-gradient(rgb(226, 2, 77), rgb(240, 90, 140) 25%, rgb(226, 2, 77) 60%);
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    width: 75%;
}

#progress4
{
    background-image: linear-gradient(rgb(6, 129, 6), rgb(12, 197, 12) 25%, rgb(6, 129, 6) 60%);
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    width: 60%;
}

#progress5
{
    background-image: linear-gradient(rgb(0, 174, 255), rgb(0, 225, 255) 25%, rgb(0, 174, 255) 60%);
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    width: 80%;
}

#progress6
{
    background-image: linear-gradient(rgb(143, 7, 120), rgb(194, 6, 163) 25%, rgb(143, 7, 120) 60%);
    border-radius: 20px 0px 0px 20px;
    height: 30px;
    width: 70%;
}

#skill-name
{
    color: rgb(255, 255, 255, 0.9);
    font-family: monospace;
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    text-transform: uppercase;
}*/