.head
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

#hd
{
    font-family: 'Franklin Gothic Medium';
}

#hd i
{
    margin-right: 10px;
}

.container
{
    width: 80%;
    margin: auto;
    padding: 10px;
}

#subject
{
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

#subject p, #announcement p
{
    font-family: 'Franklin Gothic Medium';
    margin-bottom: 8px;
    margin-top: 5px;
}

#sub
{
    width: 99%;
    margin-top: 5px;
    border: 2px solid rgb(87, 82, 82);
    resize: initial;
    line-height: 20px;
    padding: 10px;
    border-radius: 5px;
}

#announcement
{
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#anc
{
    width: 99%;
    margin-top: 5px;
    border: 2px solid rgb(87, 82, 82);
    resize: initial;
    line-height: 20px;
    padding: 10px;
    border-radius: 5px;
}

.submit-button
{
    width: 100px;
    padding: 8px;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 15%;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.9);
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
}

.submit-button:hover
{
    width: 101px;
    font-size: 14.5px;
    border: 2.5px solid rgb(0, 0, 0, 0.7);
}